{% extends "::base.html.twig" %}

{% block title %}BstuTestBundle:Default:do{% endblock %}

{% block body %}
<h1>Welcome to the Default:do page</h1>

{{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@BstuTestBundle/Resources/public/js/main.js' filter='jsminplus' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}