{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Создание вопроса</h1>

    {% include 'BstuTestOrganizationBundle:Question:form.html.twig' %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Вернуться к списку
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@BstuTestOrganizationBundle/Resources/public/js/question-type.js' filter='jsminplus' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
