/web/bundles/
/web/assetic/
/web/js/
/web/css/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/nbproject/
/build/
/bin/
/composer.phar
/composer.lock
/vendor/
