{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Создание теста</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('test') }}">
            Вернуться к списку
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@BstuTestOrganizationBundle/Resources/public/js/test-type.js'  filter='jsminplus' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}