#variants-field-list li * {
    float: left;
}

#variants-field-list li input {
    width: 100px;
    margin: 5px;
}

#variants-field-list li {
    clear: both;
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
}

#variants-field-list:after {
    content:"";
    display:block;
    clear:both;
}

#variants-field-list .ui-selecting { 
    background: #FECA40;
}

#variants-field-list .ui-selected {
    background: #F39814;
    color: #FFFFFF;
}

#variants-field-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

.form-control.col-md-1 {
    width: 8.3%;
    margin: 5px;
}

.float_left {
    float: left;
}

.b-paired {
    display: inline-block;
}

.b-teacher-filter-block {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

div[id^=Stage_] {
    position: fixed !important;
    top: 0 !important;
    left: 80% !important;
}

.b-draggable {
    list-style: none;
    cursor: move;
}

.b-draggable li {
    width: 150px;
    border: 1px solid #000;
    margin-top: 3px;
}