{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Добавить вариант</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('variant', { 'id' : test.id }) }}">
            Вернуться к списка
        </a>
    </li>
</ul>
{% endblock %}
